.example{
  width: 20%;
  height: 70%;
  top: 20%;
  left: 5%;
  margin-left: -50px;
  margin-top: 50px;
  float:left;
  background-color:#ffffff;
}
.example-card {
  position: relative;
  width :60%;
  height :60%;
  margin-top: 50px;
  margin-bottom: 50px;
  left: 10%;
  bottom: 40%;
  float:left;
  background-color:#ffffff;
  color: #000000;
 
}

.example-header-image {
  
}
mat-grid-tile {
  background: lightblue;
}

.matcard1{
 margin-top: 50px;
}
.title{
 
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
   font-size: 150%;
}
.subtitle{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
   font-size: 130%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
p {
	font-size: 20px;
}
.button-container form,
.button-container form div {
	padding: 2px;
    display: inline;
}

.button-container button {
    display: inline;
    vertical-align: middle;
}