
<div class="container" fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayoutGap="2%" fxLayoutAlign ="center">

<div fxFlex="50%">
<mat-card class="matcard1">
  <mat-card-header>
    <mat-card-title class="title">Automate Server Setup With Ansible</mat-card-title>
    
  </mat-card-header>
   <mat-card-content>
    <p>
      Welcome to Ansible Online UI.Explore different capabilities of Ansible
	  to effeciently automate server setup in the devops space.
	  With this tool you can perform the following tasks.
    </p>
	<mat-list role="orderedlist">
	<mat-list-item role="listitem">View All Hosts available</mat-list-item>
	<mat-list-item role="listitem">Install Software on hosts </mat-list-item>
	<mat-list-item role="listitem">-------</mat-list-item>
	<mat-list-item role="listitem">-------</mat-list-item>
	<mat-list-item role="listitem">-------</mat-list-item>
	</mat-list>
  </mat-card-content>
  <mat-card-actions>
  <div class="button-container">
	<form action="cgi-bin/test.sh" method="post">
	<div>
    <button mat-raised-button color="primary" type="submit" value="call">Ping All Hosts</button>
	</div>
	</form>
	<form action="cgi-bin/test1.sh" method="post">
	<div>
	 <button mat-raised-button color="primary" type="submit" value="call">See All Playbooks</button>
	</div>
	</form>
	<form action="cgi-bin/test2.sh" method="post">
	<div>
	<button mat-raised-button color="primary" >Add A new Host</button>
	</div>
	</form>
   </div>	
  </mat-card-actions>
</mat-card>
</div>
</div>