<!-- <mat-card class="example-card">
  <mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
  <mat-card>
  1
  </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile class="test">3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
</mat-card>
-->
<!--<mat-grid-list cols="2" rowHeight="2:1">
 <mat-grid-tile>2</mat-grid-tile>
 <mat-grid-tile>2</mat-grid-tile>
 <mat-grid-tile>2</mat-grid-tile>
 <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>
-->


<mat-card class="example">
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="title">Automate Server Setup With Ansible</mat-card-title>
    <mat-card-subtitle class="subtitle">Ansible Capabilities</mat-card-subtitle>
  </mat-card-header>
   <mat-card-content>
    <p>
      Welcome to Ansible Online UI.Explore different capabilities of Ansible
	  to effeciently automate server setup in the devops space.
	  With this tool you can perform the following tasks.
    </p>
	<mat-list role="orderedlist">
	<mat-list-item role="listitem">View All Hosts</mat-list-item>
	<mat-list-item role="listitem">View All Software Locally </mat-list-item>
	<mat-list-item role="listitem">Install A new Software</mat-list-item>
	<mat-list-item role="listitem">Add A new Playbook</mat-list-item>
	<mat-list-item role="listitem">Query All software Installed</mat-list-item>
	</mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button onclick="cgi-bin/test.sh">Ping All Hosts</button>
	<button mat-button>See All Playbooks</button>
	<button mat-button>Add A new Host</button>
  </mat-card-actions>
</mat-card>
